body {
  background: #fafafa url('retina_wood.png'); 
  font-size: 62.5%;
  line-height: 1;
  color: #616161;
  padding: 35px 0;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 24px;
	color: #fff;
	font-size: 30px;
	line-height: 1;
	color: #888;
}

p {
  font-size: 14px;
  }

a {
	color: #fc7b1b;
	text-decoration: none;
}

a:hover {
	color: #fc7b1b;
	text-decoration: underline;
}

#container {
  display: block;
  width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 25px ;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 4px;
}

#result {
  display: block;
  padding: 25px 0;
}

#loader {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}


.repolist {
 
  clear: both;
  width: 100%;
}

.repolist ul li {
  display: block;
}
.repolist ul li a {
  padding: 6px 9px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #356492;
  border-radius: 3px;
  color: #fff;
  background-color: #3673af;
  background-image: linear-gradient(top, #5597d8, #3673af);
}
.repolist ul li a:hover {
  background-color: #396895;
}

/* input field */
#username {
  display: block;
  padding: 5px 8px;
  font-size: 1.4em;
  margin-bottom: 15px;
  border-radius: 1px;
}

#submit_button {
  display: inline-block;
  padding: 8px 18px;
  font-size: 14px;
  color: #000;
  background-image: linear-gradient(#fafafa, #eaeaea);
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #888888;
}
#submit_button:hover {
    border-color: #ccc #ccc #b5b5b5;
}

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

 
